{% extends "base.html" %}

{% block title %}Home - Git Practice App{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Git Practice App</h1>
    <p>This is a simple web application to help you practice Git collaboration.</p>
    
    <div class="features">
        <h2>Features</h2>
        <ul>
            <li>Simple and clean interface</li>
            <li>Easy to add new pages</li>
            <li>Perfect for practicing Git workflows</li>
        </ul>
    </div>

    <div class="getting-started">
        <h2>Getting Started</h2>
        <p>To add a new page to this application:</p>
        <ol>
            <li>Create a new HTML template in the templates folder</li>
            <li>Add a new route in app.py</li>
            <li>Add a link to your new page in the navigation menu</li>
            <li>Commit your changes and create a pull request</li>
        </ol>
    </div>
</div>
{% endblock %} 